<h1>Demo cleave.js</h1>
<div>
  <section>
      <p>Uppercase </p>
      <input class="input" [cleave]="upperOption" />
  </section>

  <section>
      <p>Date with "/" as delimiter: </p>
      <input class="input" [cleave]="dateOption" placeholder="1970/01/01" />
  </section>
  <section>
      <p>Credit card detector </p>
      <input class="input-0" [cleave]="creditcardOption" placeholder="0000 0000 0000 0000" />
  </section>

  <section>
      <p>Date with "." as delimiter: </p>
      <input class="input-3" [cleave]="dateDotOption" placeholder="1970.01.01" />
  </section>

  <section>
    <p>Numeral style like "1,234,567.89":</p>
    <input class="input right" [cleave]="thousandOption" />
</section>

  <section>
      <p>Numeral only:</p>
      <input class="input" [cleave]="numberOption" />
  </section>

  <section>
      <p>Numeral style like "1.234.567,89":</p>
      <input class="input-4 right" [cleave]="numeric4Option" />
  </section>

  <section>
      <p>Numeral with "$" as prefix:</p>
      <input class="input-1 right" [cleave]="dollarOption" />
  </section>

  <section>
      <p>Use multiple delimiters:</p>
      <input class="input-5" [cleave]="format3332Option" />
  </section>

  <section>
      <p>Use empty delimiter:</p>
      <input class="input-6" [cleave]="ufoPrefixOption" />
  </section>

  <section>
      <p>V.A.T Identification Number:</p>
      <input class="input-2" [cleave]="vatOption" />
  </section>

  <section>
      <p>Prefix (can be modified):</p>
      <input value="deleteme" class="input-7" [cleave]="deletemeOption" />
  </section>

  <section>
      <p>Multiple characters in delimiter:</p>
      <input value="" class="input-8" [cleave]="multipleOption" />
  </section>
</div>
